In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [28]:
company_dummies = pd.get_dummies(df.company)
job_dummies = pd.get_dummies(df.job)
degree_dummies = pd.get_dummies(df.degree)

In [32]:
merged = pd.concat([df, company_dummies, job_dummies, degree_dummies], axis = 'columns')

In [34]:
merged

,company,job,degree,salary_more_then_100k,abc pharma,facebook,google,business manager,computer programmer,sales executive,bachelors,masters
0,google,sales executive,bachelors,0,False,False,True,False,False,True,True,False
1,google,sales executive,masters,0,False,False,True,False,False,True,False,True
2,google,business manager,bachelors,1,False,False,True,True,False,False,True,False
3,google,business manager,masters,1,False,False,True,True,False,False,False,True
4,google,computer programmer,bachelors,0,False,False,True,False,True,False,True,False
5,google,computer programmer,masters,1,False,False,True,False,True,False,False,True
6,abc pharma,sales executive,masters,0,True,False,False,False,False,True,False,True
7,abc pharma,computer programmer,bachelors,0,True,False,False,False,True,False,True,False
8,abc pharma,business manager,bachelors,0,True,False,False,True,False,False,True,False
9,abc pharma,business manager,masters,1,True,False,False,True,False,False,False,True
10,facebook,sales executive,bachelors,1,False,True,False,False,False,True,True,False
11,facebook,sales executive,masters,1,False,True,False,False,False,True,False,True
12,facebook,business manager,bachelors,1,False,True,False,True,False,False,True,False
13,facebook,business manager,masters,1,False,True,False,True,False,False,False,True
14,facebook,computer programmer,bachelors,1,False,True,False,False,True,False,True,False
15,facebook,computer programmer,masters,1,False,True,False,False,True,False,False,True

In [35]:
final = merged.drop(['company', 'job', 'degree', 'abc pharma', 'business manager', 'masters'], axis = 'columns')
final

,salary_more_then_100k,facebook,google,computer programmer,sales executive,bachelors
0,0,False,True,False,True,True
1,0,False,True,False,True,False
2,1,False,True,False,False,True
3,1,False,True,False,False,False
4,0,False,True,True,False,True
5,1,False,True,True,False,False
6,0,False,False,False,True,False
7,0,False,False,True,False,True
8,0,False,False,False,False,True
9,1,False,False,False,False,False
10,1,True,False,False,True,True
11,1,True,False,False,True,False
12,1,True,False,False,False,True
13,1,True,False,False,False,False
14,1,True,False,True,False,True
15,1,True,False,True,False,False

In [37]:
x = final.drop('salary_more_then_100k', axis = 'columns')
y = final['salary_more_then_100k']

In [39]:
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [40]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

In [41]:
len(x_train)

12

In [42]:
len(x_test)

4

In [43]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [44]:
model.score(x_test, y_test)

0.75

In [45]:
model.predict(x_test)

array([0, 1, 1, 0], dtype=int64)

In [46]:
y_test

5     1
3     1
14    1
7     0
Name: salary_more_then_100k, dtype: int64

In [47]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, model.predict(x_test))
cm

array([[1, 0],
       [1, 2]], dtype=int64)

In [50]:
model.predict_proba(x_test)

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.]])